/* min-width: 1912px */
@media only screen  and (min-width: 2540px) {
	.top_menu{
	max-width: 1580px;
	
	justify-content: center;
	display: block;
}

	.top_menu ul li:first-child{
	margin-left: 480px;
}

.left-site-bar {
    position: relative;
    max-width: 300px;
    margin-left: 480px;
}
}



/* min-width: 1912px */
@media only screen  and (max-width: 1920px) {
	.top_menu{
	max-width: 1350px;
	
	justify-content: center;
	display: block;
}

	.top_menu ul li:first-child{
	margin-left: 225px;
}
.left-site-bar {
    position: relative;
    max-width: 300px;
    margin-left: 225px;
}
}

@media only screen  and (max-width: 1440px) {
	.top_menu{
	max-width: 1350px;
	
	justify-content: center;
	display: block;
}

	.top_menu ul li:first-child{
	margin-left: 105px;

}
.content{
	
	background: #fff;
	width: 95%;
	margin-left: 5%;
	
}
.left-site-bar {
    position: relative;
    max-width: 300px;
    margin-left: 105px;
}
.reklama span{
	margin: 0px;
}
}


@media only screen  and (max-width: 1024px){
	
	.top_menu ul li:first-child{
		margin-left: 14px;
	}
	.top_menu ul li{
		padding: 20px 30px;
	}
	.left-site-bar{
		width: 340px;
		margin-left: 14px; 
	}

	.search input {
		width: 310px;
	}

	.content_site {
		max-width: 670px;
		margin-left: 5px;
	}
	.banner{
        margin-left: 5px;
	}
	.banner img {
    max-width: 670px;
}
.zagolovok{
	max-width: 670px;
	margin-left: 5px;
}

.bigslide {
	max-width: 670px;
	margin-left: 5px;
}

.tovar {
	max-width: 215px;
	margin: 20px 2px;
}
.NewS {
	max-width: 670px;
	margin-left: 5px;
}
.NEWSTAB {
	max-width: 670px;
	margin-left: 5px;

}
.left-site-bar ul li{
	padding: 5.5px 0px;
}
.read{
	margin-left: 5px;
}
.content_box{
	padding: 5px;
	max-width: 670px; 
	margin-left: 5px;
}
.nalich{
	margin-left: 100px;
}
.bottommenu ul li:first-child{
	margin-left:  90px; 
}
.bottommenu ul li:last-child{
	margin-right: 0px; 
}
.navinfo ul {
    list-style: none;
     margin: 0px; 
}
.navigateMe h3 {
	margin-left: 15px;
}
.slide3 input {
	right: 100px;
}
.slide2 input {
	right: 100px;
}
.slide1 input {
	right: 100px;
}
.bot1 {
    width: 25%;
}
.bot2 {
    width: 25%;
    text-align: center;
}
.bot3 {
    width: 44%;
    
}
.navinfo {
	padding: 15px;
}
.search {
	margin-left: 35px;
}
}

@media only screen  and (max-width: 768px){
  .logo {
  	display: none;
  }
.position {
	bottom: 12px;
}
.butmenu {
	display: block;
	text-align: right;
	padding-right: 20px;
	font-size: 40px;

}

.butmenu i:last-child {
    margin-left: 87%;
}
.top_menu {
	position: relative;
	background: #ffd7a2;
}
.categories {
	display: block;
	font-size: 25px;
	background: #84151f;
	color: #fff;
	text-align: center;
}
.top_menu ul {
	position: absolute;
	top:50px;
	right: 0;
	height: 0px;
	max-width: 200px;
	overflow: hidden;
	transition: all 1s ease;
	z-index: 9999;
}
.top_menu ul li{
	display: block;
}
.top_menu ul li:first-child {
	margin-left: 0px;
}

.index_content {
	position: relative;
}
.left-site-bar {
	position: absolute;
	left: -360px;
	z-index: 9999;
}
.content_site{
	height: 300px;
}
.slide1 img {
	max-width: 670px;
}
.slide2 img {
	max-width: 670px;
}
.slide3 img {
	max-width: 670px;
}
.imgreklama {
	display: none;
}

.content_box {
	    margin-left: 20px;
}

.bottommenu ul li {
	margin-right: 55px;
}
.navinfo {
	width: 668px;
	overflow: scroll;
	padding: 0px;
}
.navinfo ul {
	display: inline-block;
	width: 350px !important;
	margin-right: 30px;
}
.navinfo ul li {
	width: 200px;
}

.bot3 {
    width: 50%;
}
.bot2 {
    width: 30%;
   
}
.bot1 {
	width: 20%;
   
}
.reklama {
	display: none;
}
.reklama1 {
	display: none;
}
.myclass {
	left: 0px;
}
.myclass2 {
	height: 450px !important;
}
}

@media only screen  and (max-width: 425px){

	.top {
		width: 425px;
	display: block;
	}
.content_box{
	max-width: 370px;
	margin-left: 0;
}
.content_site {
	height: 160px;
}
.slide1 img {
	max-width: 370px;
}
.slide2 img {
	max-width: 370px;
}
.slide3 img {
	max-width: 370px;
}

.bigslide{
	max-width: 220px;
	overflow: hidden;
	margin:0 auto;
}
.NEWSTAB  {
	max-width: 220px;
	overflow: hidden;
	margin:0 auto;
}
.readText p:first-child{
	display: none;

}
.readText p:last-child{
      display: none;
}
	.navinfo{
		width: 425px;
	}
	.banner{
		max-width: 400px;
	}
	.banner img{
	max-width: 375px;	
	}
	.butmenu i:last-child {
       margin-left: 75%;
   }
   .search{
   	justify-content: center;
   	margin: 0;
   	text-align: center;
   }
   .search input {
   	width: 250px;
   	margin: 20px auto;	
   }

   .position {
   	bottom:28px;
   	left: 250px;
   }

   .info {
   	display: none;
   }
   .social {
   	display: none;
   }

   .korzina {
   	max-width: 150px;
   	margin: 0 auto;
   }
}